.positionSlide {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 1120px;
    height: 702px;
    opacity: 0;
    transition: opacity 800ms ease;

}

.activeSlide {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 1120px;
    height: 702px;
    opacity: 1;
    transition: opacity 800ms ease;
}