.main {
    position: relative;
    top: 110px;
    display: flex;
    flex-wrap: wrap;
    left: 40px;
    width: 1440px;
    height: 2189px;
    background-color: whitesmoke;
}
    
.containerSlider {
    position: relative;
    left: 160px;
    width: 1120px;
    height: 702px;
    background-color: #FFE0E2;
}

.promo {
  position: relative;
  left: 160px;
  width: 160px;
  height: 702px;
}



