
.containerBooks {
    display: flex;
    width: 964px;
    max-height: 10146px;
    border: 1px solid red;
}

.bookPosition {
    display: flex;
    width: 450px;
    height: 368px;
    border: 1px solid red;
}