
.containerBooks {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 964px;
    max-height: 10146px;
    border: 1px solid red;
}

.bookPosition {
    display: flex;
    width: 450px;
    height: 368px;
    border: 1px solid red;
}

.bookPositionImage {
    margin-top: 40px;
    box-shadow: 5px 15px 5px rgba(0,0,0,.3);
}

.bookPositionImageNone {
    margin-top: 40px;
    font-size: 0;
    background-size: cover;
    box-shadow: 5px 15px 5px rgba(0,0,0,.3);
    background-image: url(../../public/images/images\ placeholder.jpeg) ;
}